<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="main-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:text="#{navbar.title.text}" class="navbar-brand" href="#">Superstar Page</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:text="#{navbar.home.text}" href="/"></a>
                    </li>
                    <li><a th:text="#{navbar.about.text}" href="/about"></a></li>
                    <li><a th:text="#{navbar.contact.text}" href="/contact"></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

</body>

</html>