body {
    padding-top: 60px;

    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.about-icon-section {
    color: #FFFFFF;
}

.about-icon-section .span4 {
    text-align: center;
}

.about-icon-section .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.feature {
    padding-top: 120px;
    overflow: hidden;
}

.feature-image {
    margin-top: -120px;
}

.feature-image.pull-left {
    margin-right: 40px;
}

.feature-image.pull-right {
    margin-left: 40px;
}