<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: main-header" />

<body>

    <div th:replace="common/nav :: main-navbar" />

    <div class="container">

        <div class="starter-template">
            <h1 th:text="#{index.main.header}"> Default header </h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a
                mostly barebones HTML document.</p>
        </div>

    </div>

    <div th:replace="common/header :: main-before-scripts" />

</body>
</html>
