<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: main-header" />

<body>

    <div th:replace="common/nav :: main-navbar" />

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 th:text="#{about.main.header}"> About page </h1>
                    <p th:text="#{about.main.lead}" class="lead"> About motto </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container about-icon-section">

        <div class="row">

            <div th:each="i : ${#numbers.sequence(1,3)}" class="col-lg-4 span4">

                <a href="https://linkedin.com/in/xdire">

                    <img class="img-circle"
                          src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/06f/071/14edc6c.jpg"
                          alt="Anton Repin" width="150" />

                    <h2>Anton Repin
                        <br/><small class="member-title"> Software Engineer</small>
                    </h2>

                    <div class="span4 collapse-group">
                        <p class="span4 collapse" th:text="#{about.persona.personaid1}"></p>
                        <p>
                            <a class="btn btn-primary btn-collapse"
                               th:text="#{about.persona.collapse.button}"
                               name="btn"
                               role="button"></a>
                        </p>
                    </div>

                </a>

            </div>

        </div>

        <hr class="divider" />

        <div class="feature">

            <img class="feature-image pull-left" th:src="@{/images/browser-icon-chrome.png}" />
            <h2 class="feature-heading"> Just a feature of Chrome</h2>
            <p class="lead">
                Chrome features content
            </p>

        </div>

        <hr class="divider" />

        <div class="feature">

            <img class="feature-image pull-right" th:src="@{/images/browser-icon-firefox.png}" />
            <h2 class="feature-heading"> Just a feature of Chrome</h2>
            <p class="lead">
                Firefox features content
            </p>

        </div>

        <hr class="divider" />

        <div class="feature">

            <img class="feature-image pull-left" th:src="@{/images/browser-icon-safari.png}" />
            <h2 class="feature-heading"> Just a feature of Chrome</h2>
            <p class="lead">
                Chrome features content
            </p>

        </div>

    </div>



    <div th:replace="common/header :: main-before-scripts" />

</body>
</html>
